doctype html
html
  head
    title= headline
  body
    h1 Fake News Network
    p.site_description The Most Trusted Name in Fake News
    center
      .header
        h1 #{content.headline}
      b
        span.author #{content.author}
      i
        p.date #{content.date}
    .article-body
      p #{content.story}
