doctype html
html
  head
    title= headline
  body
    h1 Fake News Network
    p.site_description The Most Trusted Name in Fake News
    center
      .header
        h1 #{headline}
      b
        span.author #{author}
      i
        p.date #{date}
    .article-body
      p #{story}
